name: Terraform EC2 Deploy

on:
  push:
    branches: ["main"]

jobs:
  terraform-apply:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        run: terraform plan

      - name: Terraform Apply
        run: terraform apply -auto-approve
        env:
          AWS_ACCESS_KEY_ID: AKIAX2NKX2QGSTMW5BVF
          AWS_SECRET_ACCESS_KEY: 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

